table {
    width: 99%;
}

.create-btn {
  position: absolute;
  top: 14%;
}

.table-wrap {
  position: absolute;
  width: 99%;
  top: 14%;
}

.form-wrap {
  width: 360px;
  position: relative;
  left: 3%;
  top: 22px;
}
 
.all-wrap {
  min-height: 100vh;
}
 
.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
.content {
  flex: 1;
}

.close-icon {
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

.delete-icon {
  cursor: pointer;
}

.spinner-wrap {
  position: absolute;
  left: 46%;
  top: 33%;
}

.create-full-width {
  display: block;
}