<div class="table-wrap">
  <mat-sidenav-container>
    <mat-sidenav #sidenav>             
      <mat-list-item>
        <span class="close-icon">
          <mat-icon (click)="sidenav.close()">close</mat-icon>
        </span>
        <div class="form-wrap">
          <form [formGroup]="createForm">
            <mat-form-field class="create-full-width">
              <input matInput formControlName="title" placeholder="title" />
              <mat-error *ngIf="createForm.controls.title.hasError('required')">
                Title is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            
            <mat-form-field class="create-full-width">
              <textarea matInput formControlName="description" placeholder="description"></textarea>
              <mat-error *ngIf="createForm.controls.description.hasError('required')">
                Description is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <div style="display:block;">
                <button mat-raised-button [disabled]="!createForm.valid" (click)="save()" color="basic">Сохранить</button>
            </div>
          </form>
          <div class="progress-bar-wrap" *ngIf="isCreated == 'processing'">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            <p>Подождите, идёт добавление</p>
          </div>
        </div>
      </mat-list-item>
    </mat-sidenav>
    <mat-sidenav-content class="page-wrap">
      <mat-toolbar>
        <mat-toolbar-row>
          <button  *ngIf="isLoading" mat-raised-button color="primary" (click)="sidenav.toggle()">Добавить новую задачу</button>
          <button  *ngIf="!isLoading && isEmpty" mat-raised-button color="primary"  (click)="sidenav.toggle()">Добавить первую задачу</button>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="spinner-wrap" *ngIf="!isEmpty && !isLoading">
          <mat-spinner></mat-spinner>
          <p>Идёт загрузка данных</p>
      </div>
      <table  *ngIf="isLoading" mat-table [dataSource]="todos" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef> created at </th>
          <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
        </ng-container>
      
        <ng-container matColumnDef="updated_at">
          <th mat-header-cell *matHeaderCellDef> updated at </th>
          <td mat-cell *matCellDef="let element"> {{element.updated_at}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> actions </th>
            <td mat-cell *matCellDef="let element">
              <span class="delete-icon"> 
                <mat-icon (click)="openTodoEditDialog(element)">edit</mat-icon>
              </span>
              <span class="delete-icon"> 
                <mat-icon (click)="openTodoDeleteDialog(element)">delete</mat-icon>
              </span>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>