<div class="dialog-wrap">
    <span class="close-icon">
      <mat-icon  (click)="close()">close</mat-icon>
    </span>
      <mat-dialog-content>
        <h2>{{todo.title}}</h2>
        <div class="form-wrap">
            <form [formGroup]="editForm">
                <mat-form-field class="edit-full-width">
                  <input matInput formControlName="title" placeholder="title" />
                  <mat-error *ngIf="editForm.controls.title.hasError('required')">
                    Title is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                
                <mat-form-field class="edit-full-width">
                  <textarea matInput formControlName="description" placeholder="description"></textarea>
                  <mat-error *ngIf="editForm.controls.description.hasError('required')">
                    Description is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
            </form>
          </div>
      </mat-dialog-content>
      
      <mat-dialog-actions>
          <button mat-raised-button (click)="close()">Назад</button>
          <button mat-raised-button color="primary" [disabled]="!editForm.valid" (click)="save()">Сохранить</button>
      </mat-dialog-actions>
      <div class="progress-bar-wrap">
        <mat-progress-bar mode="indeterminate" *ngIf="isUpdated == 'processing'"></mat-progress-bar>
      </div>
  </div>