<div class="dialog-wrap">
  <span class="close-icon">
    <mat-icon  (click)="close()">close</mat-icon>
  </span>
    <mat-dialog-content>
      <h2>Удалить {{todo.title}} ?</h2>
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button mat-raised-button (click)="close()">Назад</button>
        <button mat-raised-button color="primary" (click)="delete(todo.id)">Удалить</button>
    </mat-dialog-actions>
    <div class="progress-bar-wrap">
      <mat-progress-bar mode="indeterminate" *ngIf="isDeleted == 'processing'"></mat-progress-bar>
    </div>
</div>